aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
clikit==0.6.2
cmdstanpy==0.9.5
convertdate==2.4.0
crashtest==0.3.1
cycler==0.11.0
Cython==0.29.28
DateTime==4.4
ephem==4.1.3
fbprophet==0.7.1
Flask==2.0.3
fonttools==4.31.1
frozenlist==1.3.0
gunicorn==20.1.0
hijri-converter==2.2.3
holidays==0.13
httpstan==4.7.1
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
kiwisolver==1.4.0
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
lxml==4.8.0
MarkupSafe==2.1.1
marshmallow==3.15.0
matplotlib==3.5.1
multidict==6.0.2
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pandas-datareader==0.10.0
pastel==0.2.1
Pillow==9.0.1
pylev==1.4.0
PyMeeus==0.5.11
pyparsing==3.0.7
pysimdjson==3.2.0
pystan==3.4.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
setuptools-git==1.2
six==1.16.0
tqdm==4.63.0
urllib3==1.26.9
webargs==8.1.0
Werkzeug==2.0.3
yarl==1.7.2
zope.interface==5.4.0
